Project/*.psess
Project/*.vsp
Project/*.log
Project/*.err
Project/*.wrn
Project/*.suo
Project/*.sdf
Project/*.user
Project/*.i
Project/*.vspscc
Project/*.opensdf
Project/*.opendb
Project/*.ipch
Project/*.cache
Project/*.tlog
Project/*.lastbuildstate
Project/*.ilk
Project/*.VC.db
Project/*.nupkg
Project/.vs
Project/Bin
/Project/x64
/Project/Release
/Project/Debug